<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SubTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SubscriberCount.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SubscriberCountKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>54427D841D83353E002B5EBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54427D981D833734002B5EBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54427DB91D848820002B5EBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54427DCD1D848D08002B5EBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54427DE41D8490A1002B5EBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54427DF51D8491A2002B5EBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5449305D1D893472007AECF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>544930721D8936D0007AECF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54496B0B1D893B9C00752F5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54496B201D893C1F00752F5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54496C111D89E22900752F5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54860FFC1D8333B2000808D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>548890081D755EA200C69B72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
